/.quarto/
*.quarto/
/_site/
posts/2023-1-18-Observable JS in Quarto_files/
projects/nixos-vps/files/nixos-vps

scrapyard/oldprojects/*.html
*.html
*.docx
*.ipynb
*_files

_freeze/

.vagrant/

.vscode/
