/*-- scss:defaults --*/

  code {
      /*font-size: 0.875em;*/
      /*color: #9753b8;*/
      color: var(--bs-code-color);
      background-color: #2b2b2b;
      /*
      border-radius: .25rem;
      padding: .125rem .25rem;
      word-wrap: break-word;
      */
    }
  
    td code:not(.sourceCode) {
      background-color:#2b2b2b;
      padding:.2em
    }